@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-1">안녕하세요 cg1119의 웹사이트에 오신 것을 환영합니다!</h1>
</div>
<div class="display-6">훌륭한 선생님 Coppermine의 제자로써 ASP.NET을 이용하여 MVC구조 기반 웹사이트를 만들고 있습니다</div>
<div class="display-6">
    <a href="http://localhost:5243/Student">학생 정보 입력하기</a>
</div>

