@model Cg1119ProfileBlog.Models.Post

<form asp-action="EditPost" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contents" class="control-label"></label>
        <textarea rows="30" cols="30" asp-for="Contents" class="form-control"></textarea>
        <span asp-validation-for="Contents" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>